body{
  overflow-x: hidden;
}


.header-container {
    grid-area: header;
    background-color: #fff;
    color: #242424;
    box-shadow: 0 2px 6px -2px #ccc;   
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    height: 5rem;
    display: block;
}


.header-container .header {

    grid-area: header;
    background-color: #fff;
    color: #242424;
    box-shadow: 0 2px 6px -2px #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    height: 5rem;
    display: block;
}


.header-container .header-content{
    padding: 0 2rem;
    height: 5rem;
    display: flex;
    flex-direction: row;   
    align-items: center;
    width: auto;
    justify-content: space-between;
}

.title-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-content .abb-logo {
  width: 96px;
}

.header-container .header .abb-title{
    display: inline;
    padding: 0 0 0 1.5rem;
    font-size: 1.5rem;
    margin-bottom: 0;
    cursor: pointer;
    font-family: Abbvoice-medium,sans-serif;
    font-weight: 500;
}

.header-container .header .nav-list{
    display: flex;
    justify-content: space-around;
    width: auto;
    position: relative;
    top: 0.5rem;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.header-container .header .nav-list li{
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 1px;
}

.header-container .header .nav-list li .nav-item-content{
  display: flex;
}

.header-container .header .nav-list li .nav-item-content .tile-name{
    padding: 0 0.8rem;
    font-size: 1.1rem;
    font-family: Abbvoice-medium,sans-serif;
    cursor: pointer;
    color: #242424;
}

.header-container .header .nav-list li .nav-item-content .tile-name a{
 color: #242424;
}

.header-container .header .p-2{
  padding: 0.5rem !important;
}

.header-container .header .expand-user-options{
  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-container .header .user-image{
    width: 30px;
    height: 30px;
}

.header-container .header .user-name{
    font-family: Abbvoice-medium,sans-serif;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0;
}

.header-container .header .px-2{
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.header-container .header .pr-2{
  padding-right: 0.5rem !important; 
}

.header-container .header .user-icon-arrow{
    width: 20px;
    height: 20px;
}

.header-container .user-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Abbvoice-medium,sans-serif;
    justify-content: space-between;
}

.header-container .btn-login{
    cursor: pointer;
    font-size: 1.1rem;
    font-family: Abbvoice-medium,sans-serif;
}

.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}

.header-container label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.pl-2, .px-2 {
    padding-left: 0.5rem!important;
}

.pr-2, .px-2 {
    padding-right: 0.5rem!important;
}

.width-20 {
    width: 20px;
}

.ml-2, .mx-2 {
    margin-left: 0.5rem!important;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem!important;
}

.header-container .btn-register{
    border: 0;
    background-color: #ff000f;
    color: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    font-family: Abbvoice-medium,sans-serif;
    font-size: 1.1rem;
}

.d-header .title, .d-header .header-buttons{
  display:none;
}

.header-container  .dropdown-user-action {

    right: 3em!important;
    left: auto!important;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 2px 6px -2px #ccc;
    border: none;
    position: absolute;
    z-index: 1000;  
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    display: none;
}

.header-container  .dropdown-user-action.show{
  display: block;
}


.header-container  .dropdown-user-action li {

    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.header-container  .dropdown-user-action li a {

    display: block;
    width: 100%;
    font-family: Abbvoice-medium,sans-serif;
    color: #242424;
    padding: 0.5em 2rem;
    font-size: 1.1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.header-container .tooltip{
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;   
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 1;
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}

.header-container .customClass{
   min-width: 300px;
}

.header-container .customClass .tooltip-arrow{
   color: #f0f0f0!important;
   border: none;
}

.header-container .bs-tooltip-bottom{
  padding: 0.4rem 0;
}

.header-container .bs-tooltip-bottom .arrow{
    top: 0;
}

.header-container .bs-tooltip-bottom .arrow:before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
}

.header-container .tooltip-inner{
    font-family: Abbvoice-medium,sans-serif;
    max-width: 350px;
    color: #242424;
    background-color: #f0f0f0!important;    
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.25rem 0.5rem;
}

.header-container .tooltip-template{

    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.header-container .title-tooltip-wrap{
    min-width: 100px;
    line-height: 10px;
    padding: 5px 10px 5px 5px;
}

.header-container .desc-divider{
    border-left: 1px solid #242424;
    min-height: 50px;
}

.header-container .tool-tip-description{
    width: 220px;
    padding: 0 15px;
    text-align: left;
    min-height: 50px;
}

.admin{

}
