body{
  overflow-x: hidden;
}


.header-container {
    grid-area: header;
    background-color: #fff;
    color: #242424;
    box-shadow: 0 2px 6px -2px #ccc;   
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    height: 5rem;
    display: block;
}


.header-container .header {

    grid-area: header;
    background-color: #fff;
    color: #242424;
    box-shadow: 0 2px 6px -2px #ccc;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    height: 5rem;
    display: block;
}


.header-container .header-content{
    padding: 0 2rem;
    height: 5rem;
    display: flex;
    flex-direction: row;   
    align-items: center;
    width: auto;
}

.title-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-content .abb-logo {
  width: 96px;
}

.header-container .header .abb-title{
    display: inline;
    padding: 0 0 0 1.5rem;
    font-size: 1.4rem;
    margin-bottom: 0;
    cursor: pointer;
    font-family: Abbvoice-medium,sans-serif;
    font-weight: 500;
}

.header-container .header .nav-list{
    display: flex;
    justify-content: space-around;
    width: auto;
    position: relative;
    top: 0.5rem;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
}

.header-container .header .nav-list li{
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 1px;
}

.header-container .header .nav-list li .nav-item-content{
  display: flex;
}

.header-container .header .nav-list li .nav-item-content .tile-name{
    padding: 0 0.8rem;
    font-size: 1.1rem;
    font-family: Abbvoice-medium,sans-serif;
    cursor: pointer;
    color: #242424;
}

.header-container .header .nav-list li .nav-item-content .tile-name a{
 color: #242424;
}
